SCREEPS_TOKEN=replace-with-your-screeps-api-token
SCREEPS_BASE_URL=https://screeps.com
SCREEPS_SHARDS=shardSeason,shardX
VICTORIA_METRICS_URL=http://victoriametrics:8428
SCREEPS_AGENT_IMAGE=ghcr.io/breuerfelix/screeps-agent:main
NODE_ENV=production
TEST_MODE=false
